html,
body {
    height: 100%;
    font-family: "Segoe UI", "Ubuntu", "Helvetica Neue", "Arial", sans-serif;
    font-size: small;
}

h1, h2, h3, h4, h5, h6, .main-header .logo {
    font-family: "Segoe UI", "Ubuntu", "Helvetica Neue", "Arial", sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

/*.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}*/

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    /*white-space: nowrap;*/
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



/* custom style */
.th-xs {
    width: 10px !important;
}
.help-block {
    font-size: small;
}

.form-control {
    border-radius: 4px;
    /*box-shadow: none;
    border-color: #d2d6de;*/
}

/*.select2-container .select2-selection--single .select2-selection__rendered {
     margin-top: 0px !important; 
}*/

.select2-container--krajee .select2-selection__clear {
    line-height: 1;
}

.text-mono {
    font-family: Consolas !important;
}

th {
    background-color: #fafafa;
}
.grid-view .table {
    border: 1px solid #f4f4f4 !important;
}
.grid-view th {
    border-top: 1px solid #f4f4f4 !important;
}
.detail-view {
    border: 1px solid #eee;
}
.detail-view th {
    width: 280px;
}
/*.box-body > .table {
    margin-bottom: 20px;
}*/

.main-header .logo {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-weight: 300;
}

.main-header {
    box-shadow: 0 0 2px;
}
.main-sidebar {
    box-shadow: 0 0 0px;
}
.main-footer {
    background-color: #d8e1ed;
    border-top: none;
}

.modal-content {
    border-radius: 4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
}

.input-group-addon:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.input-group-addon:last-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.highcharts-point {
    opacity: 0.7;
}

.box-body, .tab-panel {
    overflow-y: auto;
}

/* prevent .box-body y-scroll */
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-text-success {
    color: #3c763d !important;
}
.btn-text-info {
    color: #00c0ef !important;
}
.btn-text-warning {
    color: #f39c12 !important;
}
.btn-text-danger {
    color: #dd4b39 !important;
}
.pagination {
    margin-top: 0px;
}
.btn-lg {
    border-radius: 6px;
}

.treeview-menu a {
    font-size: small !important;
}

.form-panel {
    padding: 10px 10px !important;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #f4f4f4;
}

.img-circle, .user-image {
     box-shadow: 0 0 1px;
}


/*inertia.001*/
/*.main-header .navbar,
.main-header .logo {
    background: #0d5884 !important;
}*/
/*.text-wrap {
    white-space: normal !important;
}*/
/*.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(0,0,0,0.1);
}*/
.panel-no-border {
    margin-bottom: 0px !important;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}
.panel-no-border .kv-panel-before, 
.panel-no-border .panel-footer {
    border:none !important;
}
.panel-no-border .panel-footer {
    background:none !important;
    padding: 10px 0px;
}
.panel-no-border .kv-grid-container {
    padding: 0 0px;
}
.kv-panel-before {
    padding: 0px 0px 10px;
}
.box-body .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.content-header h1,
.sidebar-menu a {
    font-weight: lighter !important;
}
.box-header, .box-body {
    padding-left: 10px;
    padding-right: 10px;
}
.table-form td {
    vertical-align: top;
}
.table-form td:not(:last-child) {
    padding-right: 15px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*position: relative;
    min-height: 1px;*/
    padding-right: 10px;
    padding-left: 10px;
}

/*CSS for printing*/
@media print {
    body * {
        visibility:hidden;
    }
    a[href]:after {
        content: none !important;
    }
    .printable, .printable * {
        visibility:visible;
    }
    /* aligning the printable area */
    .printable {
        position: absolute;
      width: 90%;
        top:20px !important;
        /*font-size:70%;*/
        -webkit-print-color-adjust: exact;
    }
    /*.printable li {
        font-size:70%;
    }*/
    /*.printable table th {
        background: lightblue;
        -webkit-print-color-adjust: exact;
        padding:2px !important;
    }
    .printable table td {
        padding:2px !important;
    }*/
}


/*from old papi*/
.nav-tabs-custom .nav-tabs {
    background: #fafafa !important;
}
.nav-tabs-custom .nav-tabs li:not(.active) {
    border-top: 3px solid #ddd !important;
}
.nav-tabs-custom .nav-tabs li:not(.active) a {
    color: gray !important;
}
.nav-tabs-custom .nav-tabs li:not(.active) a:hover {
    color: #444 !important;
}
.nav-tabs-custom .nav-tabs a {
    font-weight: bold !important;
}
.nav-tabs-custom > .nav-tabs > li {
    margin-right: 2px !important;
}

.box-body > .table {
    margin-bottom: 20px !important;
}

.box form {
    padding-top: 10px;
}
.opsi {
    width:100px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.opsi-sm {
    width:75px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.opsi-xs {
    width:50px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.serial-column {
    width:40px !important;
    text-align: right !important;
}
/*status*/
.Comply {background: lightgreen}
.NotComply {background: yellow}
.NotFinish {background: #ddd}
.Early {background: lightgreen}
.OnSchedule {background: lightblue}
.Delay {background: salmon}

table .paper tr:first-of-type th,
table .paper tr:first-of-type td {
    border:none;
}
tr.filters {
    border-bottom:1px solid #ddd !important;
}

#accordion .panel-heading, .pointer {
    cursor:pointer;
}

.alert-success {
    border-color: lightgreen !important;
}

.alert.animated.fadeInDown {
    box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
}

.pace-activity {
    opacity:0.7;
}
.pace .pace-progress {
    height: 4px;
    box-shadow: 0 0 5px yellow
}

.main-header, .main-sidebar {
    box-shadow: 0 0 5px;
}

.gas-circulation-view .input-group .select2-container--krajee {
    display: block;
    width:300px !important;
}
#gascirculationtube-count {
    width:100px !important;
}

.act-success span {
    color: green !important;
}
.act-warning span {
    color: orange !important;
}
.act-danger span {
    color: red !important;
}

/*CSS for printing*/
@media print {
    body * {
        visibility:hidden;
    } 
    a[href]:after {
        content: none !important;
    }
    .printable, .printable * {
        visibility:visible;
    }
    .printable { /* aligning the printable area */
        position: absolute;
        top:0 !important;
        font-size:70%;
        -webkit-print-color-adjust: exact;
    }
    .printable li { 
        font-size:70%;
    }
    .printable table th {
        background: lightblue;
        -webkit-print-color-adjust: exact;
        padding:2px !important;
    }
    .printable table td {
        padding:2px !important;
    }
}

.options {
    width: 100px !important;
    text-align: center;
}
.option-view {
    color: green;
}
.option-update {
    color: orange;
}
.option-delete {
    color: red;
}
.paper{
    box-shadow: 0 0 1px rgba(0,0,0,0.2) !important;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:2px;
}
.bdg {
    border:1px solid #ddd;
    border-radius: 3px;
    padding:2px 5px;
}
.font-weight-force-normal label {
    font-weight: normal !important;
}

.segment {
    height:100vh;
    margin-top:-50px;
}